 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
}

#head{
    position: relative;

}

#head img{
    position: absolute;
    left: 0;
    clear: both;
}

.section-1{
    background-color: rgb(214, 214, 214);
    height: 100vh;
    /* clear: both; */
}

.section-2{
    background-color: rgb(178, 233, 185);
    height: 100vh;
}

.section-3{
    background-color: rgb(162, 209, 190);
    height: 120vh;
}

/* .work-card{
    margin: 15px 15px 15px 15px;
} */

#work-card-img-1{
    width: 230px;
    height: 200px;
    padding: 10px 10px 10px 10px;
}

#work-card-img-2{
    width: 250px;
    height: 250px;
    padding: 10px 10px 10px 10px;
}

#work-card-img-3{
    width: 220px;
    height: 250px;
    padding: 10px 10px 10px 10px;
}

#work-card-img-4{
    width: 250px;
    height: 250px;
    padding: 10px 10px 10px 10px;
}



.card-my-text{
    color: rgb(86, 125, 53);
    padding-top: 10px;
    font-size: 26px;
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 600;

}

.card-my-design{
    margin-left: 10px;
    margin: 15px 15px 15px 15px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;

}

.nav-links :hover{
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    transition-delay: 0ms;
    color: rgba(113, 129, 182, 0.411);
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;

}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.head-bio{

    color: #d16b42be;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 28px;
    margin-top: 40px;
    text-align: center;
    text-align: left;
    font-weight: 600;
    right: 0;
}

.head-bio-name{

    color: #d16b42be;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 36px;
    margin-top: 40px;
    text-align: center;
    text-align: left;
    font-weight: 600;
}

.burger{
    display: none;
    cursor: pointer;
    z-index: 1;
}

.burger div{
    width: 20px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
    z-index: 1;
}

/* My Query */


/* My Query */

@media screen and (max-width: 777px){
    .nav-links{
        width: 80%;
    }
    .section-1{
        background-color: rgb(214, 214, 214);
        height: 100vh;
    }
    .section-2{
        background-color: rgb(178, 233, 185);
        height: 320vh;
    }
    .section-3{
        background-color: rgb(132, 206, 177);
        height: 100vh;
    }
}

@media screen and (max-width: 1062px){
    .nav-links{
        width: 60%;
    }

    .section-1{
        background-color: rgb(214, 214, 214);
        height: 225vh;
    }
    .section-2{
        background-color: rgb(178, 233, 185);
        height: 280vh;
    }
    .section-3{
        background-color: rgb(132, 206, 177);
        height: 100vh;
    }
}


@media screen and (max-width: 950px){
    body{
        overflow-x: hidden;
    }

    .section-1{
        background-color: rgb(214, 214, 214);
        height: 200vh;
        clear: both;
    }
    .section-2{
        background-color: rgb(178, 233, 185);
        height: 260vh;
    }
    .section-3{
        background-color: rgb(132, 206, 177);
        height: 100vh;
    }
}
    

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in ;
        z-index: 1;
    }

    .nav-links li{
        opacity: 0;
        z-index: 1;
    }

    .burger{
        display: block;
        z-index: 1;
    }


.nav-active{
    transform:translateX(0%) ;

}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}




/* Carousel */

#slider{
    overflow: hidden;
    border-radius: 40px;
}

#slider figure{
    position: relative;
    width: 300%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    border: black 2px;
}

#slider figure img{
    float: left;
    width: 33%;

}

@keyframes slider {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    30%{
        left: -100%;
    }
    50%{
        left: -100%;
    }
    60%{
        left: -200%;
    }
    80%{
        left: -200%;
    }   

}